!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
  body
    .topbar
      .topbar-inner
        .container
          a.brand(href='/') KDVS.fm
          ul.nav
            li
              a(href="/#/schedule") Programming
            li
              a &rarr;
            li
              a(href="/#/show/1875") Dance Dance Revelation
            li
              a &rarr;
            li 
              a(href="#") 12/13/2011
            li
              a &rarr;
            li.active
              a(href="#") Playlist
            

          p.pull-right
            a(href="/#/audio", style="padding: 10px 10px 11px;") Audio
            a(href="/#/about", style="padding: 10px 10px 11px;") About  
            
    .container!= body
    
    script(type="text/javascript", charset="utf-8", src="/javascripts/jquery.min.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/underscore.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/backbone.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/bootstrap-modal.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/bootstrap-twipsy.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/bootstrap-popover.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/bootstrap-tabs.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/application.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/modules/schedule.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/modules/show.js")
    script(type="text/javascript", charset="utf-8", src="/javascripts/modules/playlist.js")