.span16
  .content
    .page-header
      h1 Dance Dance Revelation 
        small Woolsey
    .row
      .span10
        img.pull-right(src='http://i42.tinypic.com/b5h7yw.jpg', width='200')
        h2 12/23/2011
        p 
        //  include show_description.html
      .span5
        h4 Fridays 10:00pm - 12:00am
        p Metal, asbestos, hardcore, thrash, tighty whities, old men, metal, male pattern baldness, metal
        dl
          dt Genre
            dd Metal, Hardcore, Punk

    .row
      .playlist
        table#playlist.bordered-table.zebra-striped
          thead
            tr
              th #
              th Album
              th Artist
              th Song
              th Label
          tbody